// Import variables

@import "../bases/variables";

#accomodations {
  background: $grey-background;

  .container-1280 {
    padding: 50px 15px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  #accomodations {
    .container-1280 {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 767px) {
  #accomodations {
    .container-1280 {
      grid-template-columns: 1fr;
    }
  }
}
