// Import variables & animations

@import "../bases/variables";
@import "../bases/animations";

#detail {
  max-width: 900px;
  margin: auto;
  padding: 50px 15px 100px 15px;

  #infos {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h1 {
      font-size: 30px;
      color: $dark-text;
    }

    > p:nth-child(2) {
      color: $light-text;
      display: flex;
      gap: 10px;
      align-items: center;
      margin-top: -10px;
    }

    #tags {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    #host-infos {
      display: flex;
      gap: 15px;
      align-items: center;

      img {
        width: 64px;
        height: 64px;
        border-radius: 1000px;
      }

      h3 {
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
        color: $light-text;
      }
    }

    #description,
    #equipments {
      margin-top: 20px;
      padding: 16px;
      border: 1px solid $grey-border;
      border-radius: 16px;
      position: relative;

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: none;
        width: 100%;
        border: none;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .active {
      button {
        margin-bottom: 20px;
      }
      > :nth-child(2) {
        transform-origin: top;
        animation: grow-in 0.5s ease forwards;
      }
    }

    #description {
      > p {
        display: none;
      }
    }

    .active {
      > p {
        display: block !important;
      }
    }

    #equipments {
      div {
        display: none;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        p {
          display: flex;
          gap: 16px;
          align-items: center;

          svg {
            color: $green;
          }
        }
      }
    }

    .active {
      > div {
        display: grid !important;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #detail {
    #infos {
      #equipments {
        div {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
