@import "../bases/variables";

footer {
  background: $dark;
  padding: 50px 0;

  .container-1280 {
    position: relative;
    padding: 0 15px;
    div {
      display: flex;
      margin-bottom: 40px;

      ul {
        width: 33%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .group-title {
          color: $white;
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 10px;
        }

        a {
          color: $grey-text;
        }
      }
    }

    p {
      text-align: center;
      color: #9ca3af;
      padding-top: 50px;
      border-top: 1px solid #374151;
    }

    #languages {
      position: absolute;
      bottom: 0;
      right: 15px;
      margin: 0;
      gap: 10px;

      button {
        background: none;
        border: none;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  footer {
    .container-1280 {
      div {
        flex-direction: column;
        gap: 20px;

        ul {
          width: 100%;
        }
      }

      #languages {
        position: relative;
        flex-direction: row;
        justify-self: center;
        margin-top: 20px;
      }
    }
  }
}
