$font : "Inter", sans-serif;
$logo-font: "Pacifico", cursive;
$white: #FFFFFF;
$dark-text: #1F2937;
$light-text: #4B5563;
$grey-text: #D1D5DB;
$grey-background: #F9FAFB;
$grey-border: #E5E7EB;
$dark: #1F2937;
$gradient: linear-gradient(116.22deg, #667EEA 0%, #764BA2 100%);
$yellow: #FFD700;
$logo-pink: #FF6B6B;
$green: #4ECDC4;